<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Order Form</title>
<script>
 window.onload=function(){
//     alert();

	    var e = document.getElementById("order_type");
	    var selection = e.value;
	    var order = document.getElementById("order_status");
	    	
	    if (selection === "RETURN"){
	    	order.innerHTML ="<option th:value='order.status.OrderStatus.NotYetReturned'>NotYetReturned</option> <option th:value='order.status.OrderStatus.ReturnedToSupplier'>ReturnedToSupplier</option>";
	    }
	    /* if (selection === "ORDER") {
	        order.innerHTML = "<option th:value='order.status.OrderStatus.OrderNotYetReceived'>OrderNotYetReceived</option> <option th:value='order.status.OrderStatus.OrderReceived'>OrderReceived</option>";
	    } */
	    if (selection === "ORDER") {
	        order.innerHTML = "<option th:value='order.status.OrderStatus.OrderReceived'>OrderReceived</option>";
	    }

    document.getElementById("order_type").onchange = function(){
    	var e = document.getElementById("order_type");
    	var selection = e.value;
    	var order = document.getElementById("order_status");
    	
    	if (selection === "RETURN"){
    		order.innerHTML ="<option th:value='order.status.OrderStatus.NotYetReturned'>NotYetReturned</option> <option th:value='order.status.OrderStatus.ReturnedToSupplier'>ReturnedToSupplier</option>";
        }
    	/* if (selection === "ORDER") {
            order.innerHTML = "<option th:value='order.status.OrderStatus.OrderNotYetReceived'>OrderNotYetReceived</option> <option th:value='order.status.OrderStatus.OrderReceived'>OrderReceived</option>";
    	} */
    	if (selection === "ORDER") {
            order.innerHTML = "<option th:value='order.status.OrderStatus.OrderReceived'>OrderReceived</option>";
    	}
    }
}; 

</script>
</head>
<body>

	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Order Form</h1>
	<form action="#" th:object="${order}" th:action="@{/order/confirmArrive}"
		method="post">
		<fieldset>
			<input type="hidden" th:field="*{orderId}">
		</fieldset>
		
		<fieldset>
			PO Number <input type="number" th:field="${order.pOnum}" readonly="readonly">
			<p style="color:red" th:if="${#fields.hasErrors('pOnum')}" th:errors="*{pOnum}"></p>
		</fieldset>
		
		<fieldset>
			Employee ID <input type="number" th:field="*{employee.ID}" th:value="*{employee.ID}" readonly="readonly">
			<p style="color:red" th:if="${#fields.hasErrors('employee.ID')}" th:errors="*{employee.ID}"></p>
		</fieldset>

		<fieldset>
			Order Date<input type="date" th:field="*{orderDate}" th:value="*{orderDate}" readonly="readonly">
			<p style="color:red" th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}"></p>
		</fieldset>
		
		<fieldset>
			Date Received<input type="date" th:field="*{dateReceivedReturned}" th:value="*{dateReceivedReturned}">
			<p style="color:red" th:if="${#fields.hasErrors('dateReceivedReturned')}" th:errors="*{dateReceivedReturned}"></p>
		</fieldset>
		
		<fieldset>
			Order Quantity<input type="number" th:field="*{quantityOrdered}" th:value="*{quantityReceived}" readonly="readonly">
			<p style="color:red" th:if="${#fields.hasErrors('quantityOrdered')}" th:errors="*{quantityOrdered}"></p>
		</fieldset>
		
		<fieldset>
			Order Received<input type="number" th:field="*{quantityReceived}" th:value="*{quantityReceived}">
			<p style="color:red" th:if="${#fields.hasErrors('quantityReceived')}" th:errors="*{quantityReceived}"></p>
		</fieldset>

		<fieldset>
			Product Number <select th:field="*{product.partNumber}" readonly="readonly">
				<option th:each="product:${products}" th:value="${product.partNumber}"
					th:text="${product.partNumber}"></option>
			</select>
		</fieldset>
		
		 <fieldset>
			Type <select th:field="*{type}" id="order_type">	
				<option th:each="typeOpt : ${T(com.nus.invms.domain.OrderType).ORDER}" 
        th:value="${typeOpt}" th:text="${typeOpt}"></option>
			</select>
		</fieldset> 
		
		<fieldset>
			Status <select th:field="*{status}" id="order_status">
			</select> 
		</fieldset>
		
		<fieldset>
			<input type="submit" value="Awaiting Remaining Items" /> &nbsp; &nbsp; 
			<!-- <input type="button" value="Close Order" onclick="window.location.href='/order/add'; return false" /> -->
		</fieldset>

	</form>
	<h1 style="color:red" th:text=${message}></h1>
	<br />
	<div th:replace="fragments/general.html :: footer"></div>

</body>
</html>