<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Supplier Form</title>
</head>
<body>

	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Supplier Form</h1>
	<form action="#" th:object="${supplier}" th:action="@{/supplier/save}"
		method="post">
		<fieldset>
			<input type="hidden" th:field="*{supplierId}">
		</fieldset>
		
		<fieldset>
			Status <select th:field="*{status}">
				<option th:each="statOpt : ${T(com.nus.invms.domain.Status).values()}" 
        th:value="${statOpt}" th:text="${statOpt}"></option>
			</select>
		</fieldset>

		<fieldset>
			Supplier Name <input type="text" th:field="*{supplierName}">
			<p style="color:red" th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}"></p>
		</fieldset>

		<fieldset>
			Phone Number <input type="text" placeholder="87656545" th:field="*{phoneNumber}">
			<p style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
		</fieldset>
		
		<fieldset>
			Address <input type="text" th:field="*{address}">
			<p style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
		</fieldset>
		
		<fieldset>
			Email Address <input type="email" th:field="*{emailAddress}">
			<p style="color:red" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></p>
		</fieldset>
		

		<fieldset>
			<input type="submit" value="Save" /> &nbsp; &nbsp; 
			<input type="button" value="Reset" onclick="window.location.href='/supplier/add'; return false" />
		</fieldset>

	</form>
	<br />
	<div th:replace="fragments/general.html :: footer"></div>

</body>
</html>