
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>indexPage</title>
</head>
<body>
  <header th:insert="fragments/general.html :: header"></header>
  <div th:replace="fragments/general.html :: menu" ></div>
  <div style="text-align:center; font-family:Lucida Handwriting">
	  <img width="100" height="100" th:src="@{/image/mechanic_logo.png}" />
	  <h1>Your password has successfully updated!</h1>
  </div>
  <div th:replace="fragments/general.html :: footer"></div>

	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>