<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Part Usage Form</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Part Usage Form</h1>
	<form action="#" th:object="${usage}" th:action="@{/partusage/save}"
		method="post">
		<fieldset>
			<input type="hidden" th:field="*{transactionId}">
		</fieldset>
		<fieldset>
			Employee ID: <input type="number" th:field="*{employee.ID}">
			<p style="color: red" th:if="${#fields.hasErrors('employee.ID')}"
				th:errors="*{employee.ID}"></p>
		</fieldset>
		<fieldset>
			Part Number: <input type="text" th:field="*{product.partNumber}">
			<p style="color: red"
				th:if="${#fields.hasErrors('product.partNumber')}"
				th:errors="*{product.partNumber}"></p>
		</fieldset>
		<fieldset>
			Quantity used: <input type="text" th:field="*{quantity}">
			<p style="color: red" th:if="${#fields.hasErrors('quantity')}"
				th:errors="*{quantity}"></p>
		</fieldset>
		<fieldset>
			Date of use: <input type="date" th:field="*{usagedate}">
			<p style="color: red" th:if="${#fields.hasErrors('usagedate')}"
				th:errors="*{usagedate}"></p>
		</fieldset>
		<fieldset>
			Carplate: <input type="text" th:field="*{carplate}">
			<p style="color: red" th:if="${#fields.hasErrors('carplate')}"
				th:errors="*{carplate}"></p>
		</fieldset>
		<fieldset>
			<input type="submit" value="Save" /> &nbsp; &nbsp; <input
				type="reset" value="Reset" />
		</fieldset>
	</form>
	<br />
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>